body{
    background-color: #f0e5cc;
    background-image: url("../images/background2.png");
}

h1{
    font-size: 80px;
    font-family: Pacifico; 
    text-align: center;
    margin: 5%;
}
.search-bar
{
    width: 50%;
    height: 50px;
    display: flex;
    flex-direction: row;
    margin-left: 25%;
    border-radius: 25px;
    align-items: center;
    background-color: white;
    box-shadow: 5px 5px 15px rgb(94, 90, 90);
}
.search{
border: none;
background-color: white;
}

.search-bar-input
{    
    height: 45px;
    width: 90%;
    margin-left: 5%;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 0% 2%;
    border: 0px;
}
input:focus{
    outline: none;
}
/*the container must be positioned relative:*/
  
  .autocomplete-items {
    width: 50%;
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 53%;
    left: 25%;
    right: 0;
  }
  
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4; 
  }
  
  /*when hovering an item:*/
  .autocomplete-items div:hover {
    background-color: #e9e9e9; 
  }
  
  /*when navigating through the items using the arrow keys:*/
  .autocomplete-active {
    background-color: DodgerBlue !important; 
    color: #ffffff; 
  }
  .myInputautocomplete-list{
    margin-top: -50%;
  }